@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Quicksand:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white min-h-screen m-0;
}

.ss-about {
  background-image: url('../public/res/animation-end.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 640px) {
  .ss-price-card {
    @apply border-t-4 border-primary-600;
  }
}

.ss-price-list {
  list-style-image: url('../public/res/done-24px.svg');
}
